:root {
    --c-vista-blue: #7fa5e1;
    --c-medium-turquoise: #43cabf;
    --c-screamin-green: #78ff7c;
    --c-lime-green: #2fee2f;
    --c-background: #202020;
    --c-foreground: #ffffff;
    --c-accent: #64eb95;
    --c-accent-dark: #33764c;

    --c-background-light: #303030;
    --c-background-dark: #101010;

    --c-red: #eb6464;

    --gradient: linear-gradient(145deg, rgba(127,165,225,1) 0%, rgba(67,202,191,1) 25%, rgba(120,255,124,1) 91%, rgba(120,255,124,1) 91%, rgba(47,238,47,1) 100%);
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--c-background);
    color: var(--c-foreground);
    font-family: 'Inter', sans-serif;
}

::-webkit-scrollbar {
    width: 0.5vw;
}

::-webkit-scrollbar-track {
    background: var(--c-background-light); 
}

::-webkit-scrollbar-thumb {
    background: var(--c-accent); 
}

::-webkit-scrollbar-thumb:hover {
    background: var(--c-accent-dark); 
}

h1 {
    font-size: 3rem;
    font-weight: bold;
}

p {
    font-size: 1rem;
    font-weight: medium;
}

a {
    color: var(--c-accent);
    text-decoration: none;
}

.fg-red {
    color: var(--c-red);
}

.fg-accent {
    color: var(--c-accent);
}

.navbar {
    padding: 2%;
}

.navbar-main {
    display: flex;
    max-height: 15vh;
    align-items: center;
}

.navbar-brand img {
    width: 25vh;
}

.content {
    position: absolute;
    top: 75%;
    transform: translateY(-50%);
    width: 100%;
    max-height: 90vh;
    text-align: center;
}